header .header {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #007A8D;
    font-size: 12px;
}

header .fas {
    font-size: 22px;
    font-weight: 100;
}

header .divider {
    align-self: stretch;
    border: 1px solid #80808045;
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

header .account, header .help {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .account span, header .help span{
    font-weight: 700;
    margin-top: 2px;
}

header .quero-logo {
    width: 70%;
    max-height: 48px;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

header .quero-logo img {
    width: 50%;
    padding-top: 5px;
}

header nav {
    width: 100%;
    background-color: #18ACC4;
    font-weight: 700;
    box-shadow: inset 0 3px 3px #007A8D;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px; 
}

header li:hover {
    background-color: #007A8D;
}

header li i {
    font-weight: 1000;
    color: white;
}

header li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

header li.menu {
    position: absolute;
    right: 0;
}

header li.menu a {
    margin-right: 5px;
}

header li.menu i {
    font-weight: 500px;
}