header .header {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 10px #888888;
    z-index: 1000;
}

header .fas {
    font-size: 25px;
}

.account, header .help {
    width: 20%;
    display: inline-grid;
    padding-top: 10px;
}

header nav {
    width: 100%;
    background-color: #18ACC4;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px; 
}

header li:hover {
    background-color: #007A8D;
}

header li i {
    font-weight: 1000;
    color: white;
}

header li a {
    color: white;
    text-align: center;
    text-decoration: none;
}