header .header {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #007A8D;
    font-size: 12px;
}

header .fas, header .fab {
    font-size: 22px;
    font-weight: 100;
}

header .divider {
    align-self: stretch;
    border: 1px solid #80808045;
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

header .account, header .help {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .account span, header .help span{
    font-weight: 700;
    margin-top: 2px;
}

header .quero-logo {
    width: 70%;
    max-height: 48px;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

header .quero-logo img {
    width: 50%;
    padding-top: 5px;
}

header nav {
    width: 100%;
    background-color: #18ACC4;
    font-weight: 700;
    box-shadow: inset 0 3px 3px #007A8D;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px; 
}

header li:hover {
    background-color: #007A8D;
}

header li i {
    font-weight: 1000;
    color: white;
}

header li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

header li.menu {
    position: absolute;
    right: 0;
}

header li.menu a {
    margin-right: 5px;
}

header li.menu i {
    font-weight: 500px;
}

@media (min-width: 48rem) {
    header .header, header ul {
        max-width: 1200px;
        margin: auto
    }
    
    .whatsapp-header {
        display: inline-flex;
        position: relative;
        padding-left: 20px;
        width: 22%;
    }

    .whatsapp-header p {
        text-align: left;
        padding-left: 10px;
        padding-top: 15px;
        margin: 0;
        font-weight: 700;
        font-size: 11px;
    }

    .whatsapp-header p span {
        font-size: 12px;
    }

    .whatsapp-header .fa-whatsapp {
        color: #0FA866;
    }

    header .fas, header .fab {
        line-height: 60px;
    }
    
    header .account, header .help {
        width: 18%;
        display: inline-flex;
        flex-direction: row;
        padding-bottom: 0;
        padding-top: 0;
    }

    header .account {
        justify-content: right;
        flex-direction: row-reverse;
        padding-right: 15px;
    }

    header .account span, header .help span {
        line-height: 60px;
        padding-right: 10px;
    }

    header .help {
        justify-content: left;
        padding-left: 15px;
    }

    header .help span {
        line-height: 60px;
        padding-left: 10px;
    }

    header .quero-logo {
        width: 40%;
        padding-top: 0;
    }

    header .quero-logo img {
        width: 50%;
        margin: 0;
        padding-top: 0;
        position: absolute;
        max-height: 50px;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
}