.hide-for-mobile {
    display: none !important;
}

.hide-for-desktop {
    display: block;
}

@media (min-width: 48rem) {
    .hide-for-mobile {
        display: block;
    }
    
    .hide-for-desktop {
        display: none !important;
    }
}