.hide-for-mobile {
    display: none;
}

.hide-for-desktop {
    display: inherit;
}

@media (min-width: 48rem) {
    .hide-for-mobile {
        display: inherit;
    }
    
    .hide-for-desktop {
        display: none;
    }
}