.hide-for-mobile {
    display: none;
    @media (min-width: 48rem) {
        display: block;
    }
}

.hide-for-desktop {
    display: block;
    @media (min-width: 48rem) {
        display: none;
    }
}
