.modal-content {
    background-color: transparent;
} 

.modal-body, .modal-footer {
    background-color: #fff;
}

.close-modal {
    height: 50px;
}

.close-modal span {
    line-height: 50px;
    display: block;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
    color: #fff;
}

.close-modal span i {
    font-weight: 300;
    font-size: 24px;
}

.modal-below-footer {
    height: 100px;
}

.modal-dialog {
    margin: 0;
}

.modal-backdrop {
    opacity: 88% !important;
    background-color: #1F2D30;
}

.fa-square, .fa-check-square {
    font-size: 20px;
}

.fa-check-square {
    font-weight: 700;
    color: #18ACC4;
}

.modal-body {
    padding-top: 5px;
}

.modal-body h1 {
    font-weight: 600;
    font-size: 22px;
    margin-top: 15px;
}

.modal-body ul {
    padding-left: 0;
}

.filter-city p, .filter-course p, .filter-mode p, .filter-cost p {
    font-weight: 700;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.filter-city select, .filter-course select {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    -webkit-appearance: none;
    border-radius: 5px;
    border-color: #d3d3d3;
    background: url(images/angle-down-solid.svg) no-repeat 97%;
    background-size: 12px;
}

.filter-mode .options {
    margin-top: 20px;
    display: inline-flex;
    flex-direction: row;
}

.filter-mode .options span.text {
    padding-left: 8px;
    padding-right: 25px;
}

.sort {
    width: 100%;
    font-weight: 700;
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sort p {
    width: 20%;
    font-weight: 700;
}

.sort div {
    width: 80%;
    color: #007A8D;
    text-align: right;
    display: inline-grid;
}

.sort div b {
    color: #1F2D30;
}

li.scholarship-line {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    border-bottom: 2px solid #80808045;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

li.scholarship-line:first-child {
    border-top: 2px solid #80808045;
}

li.scholarship-info .fa-square, li.scholarship-info .fa-check-square {
    width: 15%    
}

li.scholarship-line span {
    width: 5%;
    position: relative;
}

li.scholarship-line span i{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

li.scholarship-line .logo {
    width: 45%;
    display: inline-block;
    line-height: 120px;
}

li.scholarship-line .logo img {
    max-width: 70%;
    max-height: 50%;
}

li.scholarship-line .scholarship-info {
    width: 50%;
    text-align: left;
}

li.scholarship-line .scholarship-info p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    color: #007A8D;
}

li.scholarship-line .scholarship-info span {
    font-size: 12px;
}

li.scholarship-line .scholarship-info .price {
    margin-top: 20px;
}

li.scholarship-line .scholarship-info strong {
    color: #0FA866;
}

li.scholarship-line.ng-move,
li.scholarship-line.ng-enter,
li.scholarship-line.ng-leave {
  transition: all linear 0.5s;
}

li.scholarship-line.ng-leave.ng-leave-active,
li.scholarship-line.ng-move,
li.scholarship-line.ng-enter {
  opacity:0;
  max-height: 0;
}

li.scholarship-line.ng-leave,
li.scholarship-line.ng-move.ng-move-active,
li.scholarship-line.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 100%;
}


.modal-footer {
    border: none;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.modal-footer .cancel-button {
    border-radius: 5px;
    width: 40%;
    border: 1px solid #007A8D;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #007A8D;
    margin-right: 15px;
}

.modal-footer .add-button {
    border-radius: 5px;
    width: 60%;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
}

.modal-footer .add-button.add-disabled {
    border: 1px solid grey;
    color: grey;
    background-color: #d3d3d3;
}

.modal-footer .add-button.add-enabled {
    border: 1px solid #DE9E1F;
    color: #1F2D30;
    background-color: #FDCB13;
}

.slider-container{
    margin-top: 20px;
    margin-bottom: 35px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #18ACC4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #18ACC4;
    background: #FBFBFB;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #18ACC4;
    background: #FBFBFB;
    cursor: pointer;
}

.far.fa-check-square.ng-enter, 
.far.fa-check-square.ng-leave {
    transition: opacity ease-in-out 1s;
} 

.far.fa-check-square.ng-enter,
.far.fa-check-square.ng-leave.ng-leave-active {
    opacity: 0;
}

.far.fa-check-square.ng-leave,
.far.fa-check-square.ng-enter.ng-enter-active {
    opacity: 1;
}

@media (min-width: 48rem) {
    .modal-dialog {
        width: 700px;
        position: absolute;
        left: 50%;
        top: 5%;
        margin: 0;
        transform: translateX(-50%) !important;
    }

    .modal table {
        display: table !important;
        width: 100%;
    }

    .modal table td {
        width: 50%;
    }

    .modal table td.filter-city, .modal table td.filter-mode {
        padding-right: 5px;
    }

    .modal table td.filter-course, .modal table td.filter-cost {
        padding-left: 5px;
    }

    .modal table td p {
        margin-top: 0;
    }

    .modal table tr:nth-child(2) td{
        padding-top: 10px;
    }

    .sort div {
        display: inline-block;
    }

    .modal ul {
        overflow-y: auto;
        height: 300px;
    }

    li.scholarship-line .logo {
        width: 20%;
        height: 40px;
        line-height: 40px;
    }

    li.scholarship-line .logo img {
        max-width: 70%;
        max-height: 100%;
    }

    li.scholarship-line .scholarship-info {
        display: inline-block;
        width: 75%;
    }

    li.scholarship-line .scholarship-info .course {
        float: left;
        padding-left: 10px;
    }

    li.scholarship-line .scholarship-info .price {
        float: right;
        text-align: right;
        margin-top: 0;
    }

    .modal-footer {
        justify-content: flex-end;
    }

    .modal-footer .cancel-button {
        width: 150px;
    }

    .modal-footer .add-button {
        width: 200px;
    }

    .modal-footer .add-button {
        transition: all 0.2s;
    }

    .modal-footer .add-button:hover, .modal-footer .cancel-button:hover {
        transform: scale(1.1);
    }

    .modal-below-footer {
        display: none;
    }
}