main .breadcrumbs {
    color: #007A8D;
    font-weight: 700;
    font-size: 12px;
    margin-top: 20px;
}

main .breadcrumbs i {
    font-size: 15px;
}

main .breadcrumbs span {
    margin-left: 5px;
}

main h1 {
    font-weight: 600;
    font-size: 28px;
}

main table.semester-filter {
    display: grid;
    margin-top: 15px;
    line-height: 40px;
    font-weight: 600;
    border: 1px solid #007A8D;
    border-radius: 5px;
    color: #007A8D;
}

main table.semester-filter tr {
    display: flex;
    justify-content: center;
}

main table.semester-filter td {
    width: 100%;
    text-align: center;
}

main table.semester-filter tr:nth-child(2) {
    border: 1px solid #007A8D;
}

main table.semester-filter tr .selected {
    color: #FBFBFB;
    background-color: #007A8D;
}

main .card-to-add {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0px 2px 5px #80808045;
    background: #fff;
}

main .card-to-add i {
    font-weight: 100;
    font-size: 60px;
    color: #18ACC4;
    margin-top: 20px;
    margin-bottom: 20px;
}

main .card-to-add span {
    font-weight: 700;
    font-size: 14px;
}

main .card-to-add p {
    font-size: 12px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 20px;
}

main ul {
    padding: 0;
}

li.selected-scholarships {
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px #80808045;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    background: #fff;
}

li.selected-scholarships .my-account-logo {
    max-width: 50%;
    margin: auto;
    margin-bottom: 25px;
}

li.selected-scholarships .my-account-logo img {
    width: 100%;
}

li.selected-scholarships .course-name {
    font-weight: 700;
    color: #007A8D;
}

li.selected-scholarships p.university-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}

li.selected-scholarships p.kind-shift {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    padding-top: 15px;
}

li.selected-scholarships p.start-date {
    font-size: 12px;
    border-bottom: 2px solid #80808045;
    padding-bottom: 15px;
}

li.selected-scholarships p.start-date span {
    font-size: 12px;
}

li.selected-scholarships b {
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
}


li.selected-scholarships p.full-price {
    font-size: 11px;
    text-decoration: line-through;
    margin: 0;
    padding-top: 10px;
}

li.selected-scholarships p.price-with-discount {
    font-size: 11px;
}

li.selected-scholarships p.price-with-discount span {
    font-size: 18px;
    font-weight: 700;
    color: #0FA866;
}

li.selected-scholarships .unavailable-scholarship {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

li.selected-scholarships .unavailable-scholarship p {
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    margin: 0;
}

li.selected-scholarships .unavailable-scholarship span {
    font-size: 11px;
}


.card-footer {
    display: inline-flex;
    margin-top: 15px;
}

.card-footer .exclude {
    border-radius: 5px;
    width: 40%;
    border: 1px solid #007A8D;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #007A8D;
    margin-right: 15px;
}

.card-footer .see-offer {
    border-radius: 5px;
    width: 60%;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    border: 1px solid #DE9E1F;
    color: #1F2D30;
    background-color: #FDCB13;
}

.card-footer .unavailable {
    border-radius: 5px;
    width: 60%;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    border: 1px solid grey;
    color: grey;
    background-color: #d3d3d3;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FDCB13;
    border-bottom: 2px solid #80808045;
    padding-bottom: 15px;
}

.star-rating span {
    color: #1F2D30;
    font-weight: 700;
}

.star-rating div {
    padding-left: 5px;
}

@media (min-width: 48rem) {
    .quero-my-account {
        max-width: 1200px;
        margin: auto;
    }

    main .breadcrumbs {
        color: #1F2D30;
        color: #007A8D;
        font-weight: 700;
        font-size: 12px;
        margin-top: 20px;
    }
    
    table.semester-filter {
        line-height: 30px;
        max-width: 600px;

    }

    main .card-to-add, li.selected-scholarships {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 290px;
        height: 380px;
        margin-top: 15px;
        box-shadow: 0px 2px 5px #80808045;
        background: #fff;
    }

    main .card-to-add {
        padding-top: 100px;
    }
}