<!DOCTYPE html>
<html>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="common/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="js/my-account.js"></script>
    <script type="text/javascript" src="modal/modal-add-scholarship.js"></script>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="css/hide.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/my-account.css">
        <link rel="stylesheet" href="css/modal.css">
    </head>
    <body ng-app="main">
        <!-- Header -->
        <header-quero></header-quero>
        <!-- Body -->
        <main>
            <div ng-controller="myAccount">
                <div class="breadcrumbs">
                    <i class="fa fa-angle-left"></i>
                    <span>Minha conta</span>
                </div>
                <h1>Bolsas favoritas</h1>
                <div>Adicione bolsas de cursos e faculdades do seu interesse e receba atualizações com as melhores ofertas disponíveis.</div>
                <table class="semester-filter">
                    <tr><td>Todos os semestres</td></tr>
                    <tr><td>2º semestre de 2019</td></tr>
                    <tr><td>1º semestre de 2020</td></tr>
                </table>
                <div class="card-to-add" ng-click="openModal()">
                    <i class="fa fa-plus-circle"></i>
                    <span>Adicionar bolsa</span>
                    <p>Clique para adicionar bolsas de cursos do seu interesse</p>
                </div>
                <!-- Colocar ng-repeat para cartões aqui -->
                <ul>
                    <li class="selected-scholarships" ng-repeat="s in getSelectedScholarships()">
                        <div class="my-account-logo">
                            <img src="{{s.university.logo_url}}">
                        </div>
                        <p class="university-name">{{s.university.name}}</p>
                        <p class="course-name">{{s.course.name}}</p>
                        <div class="star-rate">
                            <!-- TODO: search  -->
                        </div>
                        <p class="kind-shift">{{s.course.kind}} {{s.course.shift}}</p>
                        <p class="start-date">Início das aulas em: <span>{{s.start_date}}</span></p>
                        <b>Mensalidade com o Quero Bolsa:</b>
                        <p class="full-price">{{s.full_price | currency : "R$"}}</p>
                        <p class="price-with-discount">
                            <span>{{s.price_with_discount | currency : "R$"}}</span> /mês
                        </p>
                        <div class="card-footer">
                            <div class="exclude" ng-click="exclude(s)">Excluir</div>
                            <div class="see-offer" ng-click="" ng-if="!item.enabled">Ver Oferta</div>
                            <div class="unavailable" ng-click="" ng-if="item.enabled">Indisponível</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <!-- Footer -->
        <footer-quero></footer-quero>   
    </body>
</html>
