<div id="add-scholarship">
    <div class="close-modal" ng-click="cancel()">
        <span>
            <i class="fas fa-times"></i>
        </span>
    </div>
    <div class="modal-body">
        <div class="header-text">
            <h1>Adicionar bolsa</h1>
            <p>Filtre e adicione as bolsas de seu interesse.</p>
        </div>
        <div class="hide-for-desktop">
            <div class="filter-city">
                <p>SELECIONE SUA CIDADE</p>
                <select ng-model="filters.city" ng-options="city as city for city in cityOptions"></select>
            </div>
            <div class="filter-course">
                <p>SELECIONE O CURSO DE SUA PREFERÊNCIA</p>
                <select ng-model="filters.course" ng-options="course as course for course in courseOptions"></select>
            </div>
            <div class="filter-mode">
                <p>COMO VOCÊ QUER ESTUDAR?</p>
                <div class="options">
                    <span ng-if="!filters.mode.presential" ng-click="changeModeFilter('presential')"><i class="far fa-square"></i></span>
                    <span ng-if="filters.mode.presential" ng-click="changeModeFilter('presential')"><i class="far fa-check-square"></i></span>
                    <span class="text">Presencial</span>
                    <span ng-if="!filters.mode.distance" ng-click="changeModeFilter('distance')"><i class="far fa-square"></i></span>
                    <span ng-if="filters.mode.distance" ng-click="changeModeFilter('distance')"><i class="far fa-check-square"></i></span>
                    <span class="text">À distância</span>
                </div>            
            </div>
            <div class="filter-cost">
                <p>ATÉ QUANTO PODE PAGAR?</p>
                <span>{{filters.cost | myCurrency : 'R$' :0}}</span>
                <div class="slider-container">
                    <input 
                        type="range" 
                        min="0" 
                        max="2000" 
                        value="2000" 
                        class="slider" 
                        ng-model="filters.cost"
                        ng-model-options='{ debounce: 500 }'>
                </div>
            </div>
        </div>
        <table class="hide-for-mobile">
            <body>
                <tr>
                    <td class="filter-city">
                        <p>SELECIONE SUA CIDADE</p>
                        <select ng-model="filters.city" ng-options="city as city for city in cityOptions"></select>
                    </td>
                    <td class="filter-course">
                        <p>SELECIONE O CURSO DE SUA PREFERÊNCIA</p>
                        <select ng-model="filters.course" ng-options="course as course for course in courseOptions"></select>
                    </td>
                </tr>
                <tr>
                    <td class="filter-mode">
                        <p>COMO VOCÊ QUER ESTUDAR?</p>
                        <div class="options">
                            <span ng-if="!filters.mode.presential" ng-click="changeModeFilter('presential')"><i class="far fa-square"></i></span>
                            <span ng-if="filters.mode.presential" ng-click="changeModeFilter('presential')"><i class="far fa-check-square"></i></span>
                            <span class="text">Presencial</span>
                            <span ng-if="!filters.mode.distance" ng-click="changeModeFilter('distance')"><i class="far fa-square"></i></span>
                            <span ng-if="filters.mode.distance" ng-click="changeModeFilter('distance')"><i class="far fa-check-square"></i></span>
                            <span class="text">À distância</span>
                        </div>            
                    </td>
                    <td class="filter-cost">
                        <p>ATÉ QUANTO PODE PAGAR?</p>
                        <span>{{filters.cost | myCurrency : 'R$' :0}}</span>
                        <div class="slider-container">
                            <input 
                                type="range" 
                                min="0" 
                                max="2000" 
                                value="2000" 
                                class="slider" 
                                ng-model="filters.cost"
                                ng-model-options='{ debounce: 500 }'>
                        </div>
                    </td>
                </tr>
            </body>
        </table>
        <div class="sort">
            <p>Resultado:</p>
            <div>
                <b>Ordenar por</b>
                <span ng-click="changeSort()">
                    Nome da faculdade
                    <i class="fa fa-angle-down" ng-if="!reverse"></i>
                    <i class="fa fa-angle-up" ng-if="reverse"></i>
                </span>
            </div>            
        </div>
        <ul>
            <li class="scholarship-line" ng-repeat="item in itemsShown | orderBy: 'university.name' : reverse" ng-click="changeSelection(item)">
                <span ng-if="!item.selected"><i class="far fa-square"></i></span>
                <span ng-if="item.selected"><i class="far fa-check-square"></i></span>
                <div class="logo">
                    <img src="{{item.university.logo_url}}">
                </div>
                <div class="scholarship-info">
                    <div class="course">
                        <p>{{item.course.name}}</p>
                        <span>{{item.course.level}}</span>
                    </div>
                    <div class="price">
                        Bolsa de <strong>{{item.discount_percentage}}%<br>
                            {{item.price_with_discount | myCurrency : 'R$' : 0}}/mês</strong>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <div class="cancel-button" ng-click="cancel()">Cancelar</div>
        <div class="add-button add-disabled" ng-if="!enableAddButton">Adicionar bolsa(s)</div>
        <div class="add-button add-enabled" ng-if="enableAddButton" ng-click="ok()">Adicionar bolsa(s)</div>
    </div>
    <div class="modal-below-footer" ng-click="cancel()"></div>
</div>