<div id="add-scholarship">
    <div class="close-modal">
        <span>
            <i class="fas fa-times"></i>
        </span>
    </div>
    <div class="modal-body">
        <h1>Adicionar bolsa</h1>
        <p>Filtre e adicione as bolsas de seu interesse.</p>
        <div class="filter-city">
            <p>SELECIONE SUA CIDADE</p>
            <select ng-model="filters.city" ng-options="city as city for city in cityOptions"></select>
        </div>
        <div class="filter-course">
            <p>SELECIONE O CURSO DE SUA PREFERÊNCIA</p>
            <select ng-model="filters.course" ng-options="course as course for course in courseOptions"></select>
        </div>
        <div class="filter-mode">
            <p>COMO VOCÊ QUER ESTUDAR?</p>
            <span ng-if="!filters.mode.presential" ng-click="changeModeFilter('presential')"><i class="far fa-square"></i></span>
            <span ng-if="filters.mode.presential" ng-click="changeModeFilter('presential')"><i class="far fa-check-square"></i></span>
            <span>Presencial</span>
            <span ng-if="!filters.mode.distance" ng-click="changeModeFilter('distance')"><i class="far fa-square"></i></span>
            <span ng-if="filters.mode.distance" ng-click="changeModeFilter('distance')"><i class="far fa-check-square"></i></span>
            <span>À distância</span>
        </div>
        <div class="filter-cost">
            <p>ATÉ QUANTO PODE PAGAR?</p>
            <span>Valor</span>
            <div class="bar"></div>
        </div>
        <div>
            <p>Resultado:</p>
            <div>
                <span>Ordenar por</span>
                <div ng-click="changeSort">
                    {{}}
                </div>
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
        <ul>
            <li class="scholarship-line" ng-repeat="item in itemsShown" ng-click="changeSelection(item)">
                <span ng-if="!item.selected"><i class="far fa-square"></i></span>
                <span ng-if="item.selected"><i class="far fa-check-square"></i></span>
                <div class="logo">
                    <img src="{{item.university.logo_url}}">
                </div>
                <div class="scholarship-info">
                    <p>{{item.course.name}}</p>
                    <span>{{item.course.level}}</span>
                    <br><br>Bolsa de <strong>{{item.discount_percentage}}%<br>
                    R$ {{item.price_with_discount}}/mês</strong>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <div class="cancel-button" ng-click="cancel()">Cancelar</div>
        <div class="add-button add-disabled" ng-if="!checkSelection()">Adicionar bolsa(s)</div>
        <div class="add-button add-enabled" ng-if="checkSelection()" ng-click="ok()">Adicionar bolsa(s)</div>
    </div>
    </div>
    <div class="modal-background"></div>
</div>