<div id="add-scholarship">
    <div class="close-modal">
        <span>
            <i class="fas fa-times"></i>
        </span>
    </div>
    <div class="modal-body">
        <h1>Adicionar bolsa</h1>
        <p>Filtre e adicione as bolsas de seu interesse.</p>
        <div class="filter-city">
            <p>SELECIONE SUA CIDADE</p>
            <select ng-model="filters.city" ng-options="city as city for city in cityOptions"></select>
        </div>
        <div class="filter-course">
            <p>SELECIONE O CURSO DE SUA PREFERÊNCIA</p>
            <select ng-model="filters.course" ng-options="course as course for course in courseOptions"></select>
        </div>
        <div class="filter-mode">
            <p>COMO VOCÊ QUER ESTUDAR?</p>
            <div class="options">
                <span ng-if="!filters.mode.presential" ng-click="changeModeFilter('presential')"><i class="far fa-square"></i></span>
                <span ng-if="filters.mode.presential" ng-click="changeModeFilter('presential')"><i class="far fa-check-square"></i></span>
                <span class="text">Presencial</span>
                <span ng-if="!filters.mode.distance" ng-click="changeModeFilter('distance')"><i class="far fa-square"></i></span>
                <span ng-if="filters.mode.distance" ng-click="changeModeFilter('distance')"><i class="far fa-check-square"></i></span>
                <span class="text">À distância</span>
            </div>            
        </div>
        <div class="filter-cost">
            <p>ATÉ QUANTO PODE PAGAR?</p>
            <span>{{costSlider | currency: "R$"}}</span>
            <div class="slider-container">
                <input type="range" min="0" max="2000" value="2000" class="slider" ng-model="costSlider" ng-change="changeFilterCost">
            </div>
        </div>
        <div class="sort">
            <p>Resultado: <span>Ordenar por</span></p>
            <div ng-click="changeSort()">
                Nome da faculdade
                <i class="fa fa-angle-down" ng-if="!reverse"></i>
                <i class="fa fa-angle-up" ng-if="reverse"></i>
            </div>            
        </div>
        <ul>
            <li class="scholarship-line" ng-repeat="item in itemsShown | orderBy: 'university.name' : reverse" ng-click="changeSelection(item)">
                <span ng-if="!item.selected"><i class="far fa-square"></i></span>
                <span ng-if="item.selected"><i class="far fa-check-square"></i></span>
                <div class="logo">
                    <img src="{{item.university.logo_url}}">
                </div>
                <div class="scholarship-info">
                    <p>{{item.course.name}}</p>
                    <span>{{item.course.level}}</span>
                    <br><br>Bolsa de <strong>{{item.discount_percentage}}%<br>
                    R$ {{item.price_with_discount}}/mês</strong>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <div class="cancel-button" ng-click="cancel()">Cancelar</div>
        <div class="add-button add-disabled" ng-if="!enableAddButton">Adicionar bolsa(s)</div>
        <div class="add-button add-enabled" ng-if="enableAddButton" ng-click="ok()">Adicionar bolsa(s)</div>
    </div>
    </div>
    <div class="modal-background"></div>
</div>